<div class="grow flex flex-col justify-center items-center text-center gap-8">
    <h1 class="text-8xl font-bold text-primary">{{code}}</h1>
    <p class="text-lg">{{message}}</p>
    <a class="btn btn-primary" href="/">Go back home</a>
</div>
