<div class="navbar backdrop-blur border-b-4 border-base-200 border-dashed sticky top-0 left-0 right-0" style="z-index: 10;">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">vincent_brodin</a>
    </div>
    <div class="flex-none gap-2">
        <label class="swap swap-rotate">
            <input id="dark-mode" type="checkbox" />
            <i class="bi bi-sun swap-on text-xl"></i>
            <i class="bi bi-moon-stars swap-off text-xl"></i>
        </label>

        {{#if account}}
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <i class="bi bi-person-circle text-xl"></i>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a href="/admin/create">New post</a></li>
                <li><a href="/account/logout">Logout</a></li>
            </ul>
        </div>
        {{else}}
        <a class="btn btn-link" href="/account/login">Log in</a>
        {{/if}}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const darkMode = document.getElementById("dark-mode");
        const html = document.querySelector("html");

        // Load the saved preference from localStorage
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme) {
            html.setAttribute("data-theme", savedTheme);
            darkMode.checked = savedTheme === "light";
        }

        darkMode.addEventListener("input", () => {
            if (darkMode.checked) {
                html.setAttribute("data-theme", "light");
                localStorage.setItem("theme", "light");
            } else {
                html.setAttribute("data-theme", "dark");
                localStorage.setItem("theme", "dark");
            }
        });
    });
</script>