<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">vincent_brodin</a>
    </div>
    <div class="flex-none gap-2">
        <!--<div class="form-control">
            <input hx-trigger="click once"
                   hx-get="/components/blogs/"
                   hx-target="#blogs"
                   hx-swap="innerHTML"
                   list="blogs"
                   type="text"
                   placeholder="Search"
                   class="input input-bordered w-24 md:w-auto" />
            <datalist id="blogs">
            </datalist>
        </div>-->
        {{#if account}}
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div>
                    <i class="bi bi-person-circle text-xl"></i>
                </div>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a href="/admin/create">New post</a></li>
                <li><a href="/account/logout">Logout</a></li>
            </ul>
        </div>
        {{else}}
        <a class="btn btn-link" href="/account/login">Log in</a>
        {{/if}}
    </div>
</div>