<div class="grow flex flex-col justify-center p-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="#" method="POST">
            <div>
                <label for="email" class="block text-sm/6 font-medium">Email address</label>
                <div class="mt-2">
                    <input type="email" name="email" id="email" autocomplete="email" required class="input input-bordered w-full max-w-xs" />
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-primary">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input type="password" id="password" name="password" autocomplete="current-password" required class="input input-bordered w-full max-w-xs" />
                </div>
            </div>

            <div>
                <button type="submit" class="w-full btn btn-primary">Sign in</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6">
            No account?
            <a href="/account/create" class="font-semibold text-primary">Create one</a>
        </p>
    </div>
</div>