<div id="login" class="grow flex flex-col justify-center p-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-2xl/9 font-bold tracking-tight">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form hx-post="/account/login"
              hx-swap="outerHTML"
              hx-target="#login"
              class="space-y-6">
            <div>
                <label for="email" class="block text-sm/6 font-medium">Email address</label>
                <div class="mt-2">
                    <input value="{{email}}"
                           type="email"
                           name="email"
                           id="email"
                           autocomplete="email"
                           required
                           class="input input-bordered
                            {{#if invalid}}
                            input-error
                            {{/if}}
                           w-full" />
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-primary">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input value="{{password}}"
                           type="password"
                           id="password"
                           name="password"
                           autocomplete="current-password"
                           required
                           class="input input-bordered
                           {{#if invalid}}
                           input-error
                           {{/if}}
                           w-full" />
                </div>
            </div>

            {{#if invalid}}
            <p class="mt-2 text-red-400">Email or password is incorrect</p>
            {{/if}}

            <div>
                <button type="submit" class="w-full btn btn-primary">Sign in</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6">
            No account?
            <a href="/account/create" class="font-semibold text-primary">Create one</a>
        </p>
    </div>
</div>

<script src="/js/LoadingScreen.js"></script>